.footer__title {
	font-size: 12px;
	line-height: 1.3333733333;
	font-weight: 400;
	letter-spacing: -0.01em;
	font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons',
		'Apple Legacy Chevron', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-weight: 600;
	margin-bottom: 0.8em;
	margin-inline-end: 20px;
	outline: none;
}

.footer__link {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	margin: 4px 0;
}
